@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #000;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding: 28px 26px 32px;
  font-size: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.header__logo {
  width: 105px;
  height: 25px;
  object-fit: cover;
  object-position: center;
}

.content {
  padding: 0 19px;
}

.profile {
  max-width: 880px;
  padding: 40px 0 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.profile__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__information {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  border-radius: 50%;
}

.profile__info {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 28px 0 34px;
}

.profile__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__name {
  max-width: calc(100% - 26px);
  display: block;
  font-weight: 500;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.profile__edit-btn {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  background-color: #000;
  background-image: url(./images/edit-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: 1px solid #FFFFFF;
  padding: 0;
  margin-left: 10px;
  transition: opacity .2s ease-out;
}

.profile__edit-btn:hover {
  opacity: .6;
  cursor: pointer;
}

.profile__status {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 7px 0 0;
}

.profile__add-btn {
  width: 100%;
  max-width: 350px;
  height: 50px;
  background-color: #000;
  background-image: url(./images/add-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  color: inherit;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  padding: 0;
  transition: opacity .2s ease-out;
}

.profile__add-btn:hover {
  opacity: .6;
  cursor: pointer;
}

.photo-feed {
  display: flex;
  justify-content: center;
}

.photo-feed__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 282px;
  grid-template-rows: repeat(6, auto);
  column-gap: 17px;
  row-gap: 20px;
}

.photo-feed__item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0;
}

.photo-feed__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 25px;
}

.photo-feed__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 25px;
}

.photo-feed__heading {
  max-width: calc(100% - 50px);
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.photo-feed__like-btn {
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-image: url(./images/like-button-not-act.svg);
  background-size: cover;
  border: none;
  padding: 0;
  transition: opacity .2s ease-out;
}

.like {
  background-image: url(./images/like-button-act.svg);
}

.photo-feed__like-btn:hover {
  opacity: .5;
  cursor: pointer;
}

.footer {
  max-width: 880px;
  margin: 48px 19px 36px;
}

.footer__copyright {
  font-size: 14px;
  line-height: 17px;
  color: #545454;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background-color: rgba(0, 0, 0, .5);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 19px;
}

.popup_opened {
  display: flex;
}

.popup__container {
  width: 100%;
  max-width: 430px;
  position: relative;
  align-self: center;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 25px 22px;
}

.popup__close-btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: #000;
  background-image: url(./images/close-button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  position: absolute;
  bottom: calc(100% + 16px);
  left: calc(100% - 20px);
  transition: opacity .2s ease-out;
}

.popup__close-btn:hover {
  opacity: .6;
  cursor: pointer;
}

.popup__heading {
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  color: #000;
  margin: 0 0 75px;
}

.popup__item {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 10px; /*  */
}

.popup__item_el_status {
  margin: 30px 0 45px;
}

.popup__save-btn {
  width: 100%;
  height: 46px;
  font-size: 14px;
  line-height: 17px;
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  transition: opacity .2s ease-out;
  padding: 0;
}

.popup__save-btn:hover {
  opacity: .8;
  cursor: pointer;
}

@media (min-width: 768px) {
  .photo-feed__list {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, auto);
  }
  .popup__container {
    padding: 34px 36px 37px;
  }
  .popup__heading {
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 46px;
  }
  .popup__close-btn {
    bottom: calc(100% + 8px);
    left: calc(100% + 8px);
  }
  .popup__save-btn {
    height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 45px 0 40px;
  }
  .header__logo {
    width: 143px;
    height: 34px;
  }
  .profile {
    padding: 40px 0 50px;
  }
  .profile__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .profile__information {
    flex-direction: row;
  }
  .profile__info {
    align-items: flex-start;
    margin: 0 30px;
  }
  .profile__item {
    justify-content: flex-start;
  }
  .profile__name {
    max-width: calc(100% - 42px);
    font-size: 42px;
    line-height: 48px;
  }
  .profile__edit-btn {
    width: 22px;
    height: 22px;
    margin-left: 20px;
    background-size: 11px 11px;
  }
  .profile__status {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
  .profile__add-btn {
    width: 178px;
    background-size: 22px 22px;
  }
  .photo-feed__list {
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, auto);
  }
  .footer {
    margin: 68px auto 58px;
  }
  .footer__copyright {
    font-size: 18px;
    line-height: 22px;
  }
  .popup__close-btn {
    width: 32px;
    height: 32px;
  }
}

