.popup__input-error {
  min-height: 15px;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin: 5px 0 10px;
  display: inline-block;
  opacity: 0;
}

.popup__input-error:nth-child(4){
  margin-bottom: 25px;
}
