.popup__item {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 10px;
}

.popup__item:nth-child(2){
  margin: 30px 0 45px;
}
